body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-image: url("mainbg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-size: 2.5rem;
  color: #333;
}

button {
  cursor: pointer;
}

.logo-container {
  position: absolute;
  left: 0;
  top: 0;
  margin: 10px; /* adjust the margin to your liking */
}

.navbar {
  padding: 20px;
  background: #fff; /* Change navbar background to white */
  color: #000; /* Change navbar text color to black */
}

.navbar-collapse {
  margin-left: 120px; /* adjust the margin to match the padding in .navbar-size */
}

.navbar-size {
  padding-left: 120px;
  height: 70px;
}

.navbar a {
  text-decoration: none;
  color: black; /* Change navbar link color to black */
}

.navbar div a {
  margin: 0 15px;
  font-size: 17.5px;
}

.home-container {
  text-align: center;
  margin-top: 50px;
}

.home-container img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

.home-buttons {
  margin-top: 40px;
}

.home-buttons button {
  margin-right: 20px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  border-radius: 50px; /* Adjust this value to control the curvature */
  text-decoration: none;
}

.book-btn {
  background-color: #ff8b00;
  color: white;
}

.menu-btn {
  background-color: black;
  color: white;
}

.login-button {
  background-color: #ff8b00; /* Use the book-btn's orange color */
  color: white;
  margin-right: 20px;
  border: none;
  border-radius: 50px; /* Same as home-buttons button */
  padding: 10px 20px; /* Same as home-buttons button */
  text-decoration: none;
  min-width: 150px; /* Set a minimum width to make it wider */
  text-align: center;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #e07a00; /* Slightly darker shade of the book-btn color */
  color: white;
}
